	.building {
		border-style:solid;
		border-width:thin;
		width:130%;
		display: inline-block;
		position:absolute;
		background-color:#FFFFFF;
		height: 60px;
	}
	td.value{
		text-align:right;
		width: 200px;
	}
	td.shrink{
		white-space: nowrap;
		width: 1px;
	}
	.buyable:hover{
		cursor:hand;
	}
	.buyable .tooltiptext{
		visibility:hidden;
		position:absolute;
		width:300px;
		background-color: black;
		color: #fff;
		text-align:center;
		padding: 5px 0;
		border-radius: 6px;
		right:105%;
	}
	.buyable:hover .tooltiptext{
		visibility: visible;
	}
	.buyable{
		display: inline-block;
		height: 60px;
		width: 73px;
		border-style:solid;
		border-width: 1px;
		margin-right: 1px;
		background-size:contain;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.give{
		position:absolute;
		left:100;
	}
	.giveTotal{
		position:absolute;
		left:180;
	}
	.digData{
		position:absolute;
		left:190;
	}
	.upgrade{
		position:absolute;
		z-index: 1;
		width:30%;
		height:71%;
		left: 60%;
		top:0%;
		border:solid;
		background-color:#FFFFFF;
		background-image:url("art/build1BGUpg.png");
		background-size:100%;
		overflow:hidden;
		display:none;
	}
	.upgradeBox{
		width:64px;
		height:66px;
		position:absolute;
		background-image:url("art/upgBox.png");
		display:none;
	}
	.upgradeLineSlant1{
		width:30px;
		height:36px;
		position:absolute;
		background-image:url("art/upgBar1.png");
		display:none;		
	}
	.upgradeLineSlant2{
		width:30px;
		height:36px;
		position:absolute;
		background-image:url("art/upgBar2.png");
		display:none;	
	}
	.upgradeLineVert{
		width:6px;
		height:39px;
		position:absolute;
		background-image:url("art/upgBar3.png");
		display:none;	
	}
	.upgradeLineHor{
		width:40px;
		height:6px;
		position:absolute;
		background-image:url("art/upgBar4.png");
		display:none;	
	}
	.upgradeBuy:hover{
		cursor:hand;
	}
	.upgAmt{
		width:28px;
		height:18px;
		position:absolute;
		background-color:#BBBBBB;
		display:none;
	}
	